$default-font-size: 1.7rem;
$background-page-color: #d8f5fe;
$contrast-header-cursor-color: #ffcf87;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	// definition of 1 rem on website
	font-size: 62.5%;
}

body {
	font-family: "Lato", sans-serif;
	background-color: $background-page-color;
	line-height: 1.7;
	padding: 3rem;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: $contrast-header-cursor-color;
	}
}

.header {
	height: 80vh;
	position: relative;
	margin-bottom: 100px;

	&__greeting {
		position: absolute;
		font-size: 6rem;
		font-weight: 500;
		left: 50%;
		top: 50%;
		overflow: hidden; /* Ensures the content is not revealed until the animation */
		border-right: 0.15em solid $contrast-header-cursor-color; /* The typwriter cursor */
		white-space: nowrap;
		margin: 0 auto; /* Gives that scrolling effect as the typing happens */
		letter-spacing: 0.1em;
		animation: blink-caret 1s steps(1) infinite;
		z-index: 10;
	}

	&__background {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 0;
	}
}

.heading-section {
	font-size: $default-font-size * 2.5;
	font-weight: 400;
	padding: 2rem;
}

.about {
	margin-top: 14rem;

	&__description {
		font-size: $default-font-size;
		padding-left: 5rem;
	}
}

.experience {
	margin-top: 8rem;

	&__company {
		font-size: $default-font-size * 1.5;
		font-weight: 350;
		padding: 2rem;
	}

	&__description {
		font-size: $default-font-size;
		padding-left: 5rem;
	}
}

.projects {
	margin-top: 8rem;
}

.contact {
	margin-top: 8rem;

	&__email {
		font-size: $default-font-size;
		padding-left: 5rem;
	}
}

ul {
	padding-left: 5rem;
	font-size: $default-font-size;
}
